@model Project.Models.Entity.Category
@{
    Layout = null;
}

    <div class="form-group">
        <label for="password1">Название</label>
        <input asp-for="name" class="form-control">
    </div>
    

